#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.txtTitleTask{
  width: 450px;
  height: 30px;
  margin-bottom: 10px;
}

.txtCommnetTask{
  width: 450px;
  height: 150px;
  margin-bottom: 10px;
}

.slStatusTask{
  width: 300px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.buttonAdd{
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
}

.tableList {
  width: 100%;
  border-collapse: collapse; /* Colapsa los bordes de las celdas */
  margin-top: 20px;
}

.tableList th, .tableList td {
  border: 1px solid #ddd; /* Borde para las celdas */
  padding: 8px;
  text-align: left;
}

.tableList th {
  background-color: #1a1a1a; /* Color de fondo para la cabecera */
  color: white;
}

.tableList tr:nth-child(even) {
  background-color: #1a1a1a; /* Color de fondo alternado para las filas */
}

.tableList tr:hover {
  background-color: #242424; /* Color de fondo al pasar el cursor */
}

.tableList li{
  list-style: none;
  text-align: center;
}

.footer{
  text-align: center;
  padding-top: 15px;
}
